@import "tailwindcss";
@import "./__cloud.css";
@import "./fonts.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-cooper: "Cooper", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-cocogoose: "Cocogoose", sans-serif;
    --font-super-comic: "Super Comic", sans-serif;

    --color-tictac-blue-light: #00b3ee;
    --color-tictac-blue: #006ac1;

    --color-nav-selected: var(--color-orange-400);
    --color-nav-selected-before: var(--color-orange-500);

    --tw-bg-color: #000;
}

@layer components {
    .swiper-button-prev {
        @apply top-[48%] left-[15%]!;
    }

    .swiper-button-next {
        @apply top-[48%] right-[15%]!;
    }

    .slider-inner-shadow {
        box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.5);
    }

    .slider-outer-shadow {
        box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    }

    .swiper-scrollbar {
        @apply bottom-4! bg-white!;
    }

    .swiper-scrollbar-drag {
        @apply bg-yellow-300! p-2! absolute top-1/2 mt-0.5! -translate-y-1/2;
    }

    .text-image {
        @apply hover:scale-105 transition-transform;
    }

    .nav--item-outline {
        -webkit-text-stroke: 1px var(--color-nav-selected);
        color: white;

        text-shadow: 0px 0px 2px var(--color-nav-selected),
            -1px -1px 0 var(--color-nav-selected),
            1px -1px 0 var(--color-nav-selected),
            -1px 1px 0 var(--color-nav-selected),
            1px 1px 0 var(--color-nav-selected), 0px 2px 0 white;

        @apply relative;

        &::before {
            content: attr(data-before-content);
            color: var(--color-nav-selected-before);
            text-shadow: 3px 3px 0 var(--color-nav-selected-before),
                -1px -1px 0 var(--color-nav-selected-before),
                1px -1px 0 var(--color-nav-selected-before),
                -1px 1px 0 var(--color-nav-selected-before),
                1px 1px 0 var(--color-nav-selected-before);
            @apply absolute left-0.5 top-0.5 -z-10 text-nowrap;
        }
    }

    .grid-overlay {
        @apply *:col-start-1 *:row-start-1;
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}
