@import "tailwindcss";
@import "./__cloud.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: "Super Comic";
    src: url("../assets/fonts/SuperComic.woff2") format("woff2"),
        url("../assets/fonts/SuperComic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-coopbl: "COOPBL", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-super-comic: "Super Comic", sans-serif;

    --color-tictac-blue-light: #00b3ee;
    --color-tictac-blue: #006ac1;

    --tw-bg-color: #000;
}

@layer components {
    .slider-inner-shadow {
        box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.5);
    }

    .slider-outer-shadow {
        box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    }

    .swiper-scrollbar {
        @apply bottom-4! bg-white!;
    }

    .swiper-scrollbar-drag {
        /* @apply bg-yellow-300! p-2! -mt-2!; */
        @apply bg-yellow-300! p-2! absolute top-1/2 mt-0.5! -translate-y-1/2;
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}
