@import "tailwindcss";
@import "./__cloud.css";
@import "./fonts.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-cooper: "Cooper", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-cocogoose: "Cocogoose", sans-serif;
    --font-super-comic: "Super Comic", sans-serif;

    --color-tictac-primary-blue: #0076c9;
    --color-tictac-primary-blue-light: #00bcf1;
    --color-tictac-primary-orange: #ff6b00;
    --color-tictac-primary-orange-dark: #aa4500;

    --color-tictac-secondary-blue: #36dae9;
    --color-tictac-secondary-pink: #ff7697;
    --color-tictac-secondary-yellow: #f2e363;
    --color-tictac-secondary-orange: #ffac33;

    --color-nav-selected: hsl(from var(--color-tictac-primary-orange) h s l);
    --color-nav-selected-before: hsl(
        from var(--color-tictac-primary-orange-dark) h s l
    );

    --color-google-text-gray: #3c4043;
    --color-google-button-blue: #1a73e8;
    --color-google-button-blue-hover: #5195ee;
    --color-google-button-dark: #202124;
    --color-google-button-dark-hover: #555658;
    --color-google-button-border-light: #dadce0;
    --color-google-logo-blue: #4285f4;
    --color-google-logo-green: #34a853;
    --color-google-logo-yellow: #fbbc05;
    --color-google-logo-red: #ea4335;

    --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
    --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@layer components {
    .swiper-button-prev {
        @apply top-[48%] left-[15%]!;
    }

    .swiper-button-next {
        @apply top-[48%] right-[15%]!;
    }

    .slider-inner-shadow {
        box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.5);
    }

    .slider-outer-shadow {
        box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    }

    .swiper-scrollbar {
        @apply bottom-4! bg-white!;
    }

    .swiper-scrollbar-drag {
        @apply bg-tictac-secondary-yellow! p-2! absolute top-1/2 mt-0.5! -translate-y-1/2;
    }

    .text-image {
        @apply hover:scale-105 transition-transform;
    }

    .nav--item-outline {
        -webkit-text-stroke: 1px var(--color-nav-selected);
        color: white;

        /* text-shadow: 0px 0px 2px var(--color-nav-selected), 0px 0px 3 white,
            -1px -1px 0 var(--color-nav-selected),
            1px -1px 0 var(--color-nav-selected),
            -1px 1px 0 var(--color-nav-selected),
            1px 1px 0 var(--color-nav-selected); */

        text-shadow:
            var(--color-nav-selected) 4px 0px 0px,
            var(--color-nav-selected) 3.87565px 0.989616px 0px,
            var(--color-nav-selected) 3.51033px 1.9177px 0px,
            var(--color-nav-selected) 2.92676px 2.72656px 0px,
            var(--color-nav-selected) 2.16121px 3.36588px 0px,
            var(--color-nav-selected) 1.26129px 3.79594px 0px,
            var(--color-nav-selected) 0.282949px 3.98998px 0px,
            var(--color-nav-selected) -0.712984px 3.93594px 0px,
            var(--color-nav-selected) -1.66459px 3.63719px 0px,
            var(--color-nav-selected) -2.51269px 3.11229px 0px,
            var(--color-nav-selected) -3.20457px 2.39389px 0px,
            var(--color-nav-selected) -3.69721px 1.52664px 0px,
            var(--color-nav-selected) -3.95997px 0.56448px 0px,
            var(--color-nav-selected) -3.97652px -0.432781px 0px,
            var(--color-nav-selected) -3.74583px -1.40313px 0px,
            var(--color-nav-selected) -3.28224px -2.28625px 0px,
            var(--color-nav-selected) -2.61457px -3.02721px 0px,
            var(--color-nav-selected) -1.78435px -3.57996px 0px,
            var(--color-nav-selected) -0.843183px -3.91012px 0px,
            var(--color-nav-selected) 0.150409px -3.99717px 0px,
            var(--color-nav-selected) 1.13465px -3.8357px 0px,
            var(--color-nav-selected) 2.04834px -3.43574px 0px,
            var(--color-nav-selected) 2.83468px -2.82216px 0px,
            var(--color-nav-selected) 3.44477px -2.03312px 0px,
            var(--color-nav-selected) 3.84068px -1.11766px 0px,
            var(--color-nav-selected) 3.9978px -0.132717px 0px;

        @apply relative;

        &::before {
            content: attr(data-before-content);
            -webkit-text-stroke: 1px var(--color-nav-selected-before);
            color: var(--color-nav-selected-before);
            text-shadow:
                var(--color-nav-selected-before) 4px 0px 0px,
                var(--color-nav-selected-before) 3.87565px 0.989616px 0px,
                var(--color-nav-selected-before) 3.51033px 1.9177px 0px,
                var(--color-nav-selected-before) 2.92676px 2.72656px 0px,
                var(--color-nav-selected-before) 2.16121px 3.36588px 0px,
                var(--color-nav-selected-before) 1.26129px 3.79594px 0px,
                var(--color-nav-selected-before) 0.282949px 3.98998px 0px,
                var(--color-nav-selected-before) -0.712984px 3.93594px 0px,
                var(--color-nav-selected-before) -1.66459px 3.63719px 0px,
                var(--color-nav-selected-before) -2.51269px 3.11229px 0px,
                var(--color-nav-selected-before) -3.20457px 2.39389px 0px,
                var(--color-nav-selected-before) -3.69721px 1.52664px 0px,
                var(--color-nav-selected-before) -3.95997px 0.56448px 0px,
                var(--color-nav-selected-before) -3.97652px -0.432781px 0px,
                var(--color-nav-selected-before) -3.74583px -1.40313px 0px,
                var(--color-nav-selected-before) -3.28224px -2.28625px 0px,
                var(--color-nav-selected-before) -2.61457px -3.02721px 0px,
                var(--color-nav-selected-before) -1.78435px -3.57996px 0px,
                var(--color-nav-selected-before) -0.843183px -3.91012px 0px,
                var(--color-nav-selected-before) 0.150409px -3.99717px 0px,
                var(--color-nav-selected-before) 1.13465px -3.8357px 0px,
                var(--color-nav-selected-before) 2.04834px -3.43574px 0px,
                var(--color-nav-selected-before) 2.83468px -2.82216px 0px,
                var(--color-nav-selected-before) 3.44477px -2.03312px 0px,
                var(--color-nav-selected-before) 3.84068px -1.11766px 0px,
                var(--color-nav-selected-before) 3.9978px -0.132717px 0px;
            @apply absolute left-1 top-1 -z-10 text-nowrap;
        }
    }

    .grid-overlay {
        @apply *:col-start-1 *:row-start-1;
    }

    .hk-toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        & span {
            font-size: 13px;
            opacity: 0.8;
        }

        & input {
            display: none;
        }

        & label {
            width: 78px;
            height: 38px;
            border-radius: 40px;
            position: relative;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(8px);
            border: 1px solid rgba(255, 255, 255, 0.2);

            &::after {
                content: "";
                width: 30px;
                height: 30px;
                position: absolute;
                top: 4px;
                left: 4px;
                border-radius: 50%;
                transition: 0.35s;
                background: #fff;
            }
        }

        & input:checked + label::after {
            transform: translateX(38px);
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 1rem;
}
