@font-face {
    font-family: "Super Comic";
    src: url("../assets/fonts/SuperComic.woff2") format("woff2"),
        url("../assets/fonts/SuperComic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins-Regular.woff2") format("woff2"),
        url("../assets/fonts/Poppins-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cooper";
    src: url("../assets/fonts/CooperBlack.woff2") format("woff2"),
        url("../assets/fonts/CooperBlack.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
